// gameover modal pop up for game ending
.gameover-modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);

  text-align: center;

  &-text-container {
    border-radius: 2rem;
    background-color: rgb(72, 70, 70);
    width: 70%;
    margin: 2% auto;
    padding: 1rem 0;
  }

  &-title {
    text-transform: uppercase;
    font-size: 5rem;
    letter-spacing: 0.2rem;
  }

  &-message {
    font-size: 1.3rem;
    line-height: 1.6;
    text-align: center;
    width: 80%;
    margin: 1rem auto;
  }

  &-score {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin: 1rem 0;
  }
}