.quiz-heading {
  margin: 30px 0 50px;
}

.quiz-container {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  display: none;
}

.trivia-question-container,
.answer-result {
  width: 90%;
  margin: 0 auto;
  background-color: $bg-color-transparent;
  border: 4px outset orange;
  color: white;
  border-radius: 35px;
  padding: 40px 10%;
  text-align: center;
}

.trivia-question {
  text-transform: uppercase;
  line-height: 1.6;
  font-size: 1.2rem;
  text-align: left;
}

.trivia-difficulty {
  margin-bottom: 25px;
}

.answer-container {
  width: 90%;
  margin: 20px 0;
}

.answer-form {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.radio-button-container {
  width: calc(50% - 10px);
  border: 2px solid orange;
  background-color: $bg-color-transparent;
  margin: 5px;
  overflow: hidden;
  position: relative;
  border-radius: 15px;
  &:hover {
    border: 2px dashed orange;
  }
}

.radio-button-label {
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  padding: 7px 0;
  transition: all 0.2s;
}

.testRadio {
  position: absolute;
  right: 100%;
}

.submit-answer-button {
  width: 200px;
}

input:checked ~ label,
input:focus ~ label {
  background-color: $highlight-colour;
  color: black;
  transition: all 1s;
}

.answer-result {
  width: 100%;
  display: none;
}

// gameover modal pop up for game ending
.gameover-modal-score {
  text-transform: uppercase;
  margin: 1rem 0;
}
