@import './setup';
@import './variables';
@import './config';


h1 {
    font-family: 'Righteous', sans-serif;
    text-transform: uppercase;
    color: white;
    font-size: 2rem;
}

.quiz-container {
    border: 2px solid #101010;
    background-color: rgba(255,255,255,0.1);
}
