@import './setup';
@import './variables';
@import './config';
@import './intro';
@import './quiz';

// background art
main {
  background-image: url('../assets/black-light-bulbs.jpg');
  background-size: cover;
  background-position: 85%;
  background-repeat: no-repeat;
  min-height: 100vh;
  max-height: 100vh;
}
